<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icons8-code-67.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Krhyst Ferrari</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/luninha.jfif" alt="Foto perfil">
            <h1>Krhyst Ferrari</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/krhystofferson-ferrari-011385234/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/KrhystFerrari">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="mailto:krhystoffersonf@gmail.com">
                    <i class="bi bi-envelope"></i>
                </a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=+5517991950659">
                    <i class="bi bi-whatsapp"></i>
                </a>
               
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Krhyst Ferrari</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Web </span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para ver mais</a>
                </div>

            </div>

        </section>

        <section id='sobre' class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre mim...</h2>
                    <p>Olá, me chamo Krhystofferson Ferrari, tenho 30 anos e sou Desenvolvedor Web Jr. <br>
                        Nascido em 1992 na cidade de São José do Rio Preto - SP, tive uma infância humilde, porém nunca me faltou nada, inclusive príncipios e educação. <br>
                        Ganhei meu primeiro computador aos 11 anos e aí foi "amor a primeira vista". Depois de algum tempo já era o "menino que ajeitava os PC's da rua". <br>
                        Trabalho desde os 12 anos e pode se dizer que já fiz de tudo um pouco, desde auxiliar de funilaria até metálurgico. <br>
                        Aos 18 anos tive a primeira experiência com "programação", me tornei Operador de Dobradeira CNC especializado e fiz isso da vida até fevereiro de 2022. <br>
                        Estudo programação, de fato, desde 2017. Porém com algumas surpresas da vida fui obrigado a dar algumas pausas, as vezes até meio longas, nos estudos. <br> 
                        Voltei a estudar em 2020 e desde então comecei minha transição de carreira para o que realmente amo fazer, que é trabalhar com tecnologia.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/perfil.png" alt="Foto lateral" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor Web</h3>
                    <p>Desenvolvimento web (landing pages, paginas web, e-commerce, blogs, etc) totalmente responsivo
                        criado com JavaScript, HTML, CSS, Bootstrap, ReactJs, Python, Flask entre outras tecnologias. <br>
                        Veja alguns projetos em meu <a id="link-portfolio-1" href="#portfolio"> Portfólio</a>. <br>
                        Ficou interessado? Me mande uma mensagem ou entre em <a id="link-portfolio-1" href="#contato"> contato</a>!
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">21 de Junho de
                                        1992</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">30 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São José do Rio Preto</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Jogos online (MMORPG)</span></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter">2 anos</span></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>Nesse tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                    a maioria delas estão listadas abaixo: </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;"
                                aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 88%;"
                                aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs (Express, Vite)</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">VueJs</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">JQuery</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>

        </section>



        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/netflix-react.png" class="card-img-top "
                                            alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Netflix (clone)</h5>
                                            <p class="card-text">Projeto usando React com consumo da API do TMDB e deploy no Firebase.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KrhystFerrari/netflix-react" target='_blank' 
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://netflix-react-a5219.web.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/rocketpay.png" class="card-img-top img-fluid w-100"
                                            alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">RocketPay</h5>
                                            <p class="card-text">Projeto criado com JavaScript, HTML, CSS, NodeJs e Vite com validação de cartão de crédito.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KrhystFerrari/RocketPay"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://rocketpay-explorer-lab-01.vercel.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top img-fluid w-100"
                                            alt="foto rocketpay">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <p class="card-text">Projeto de uma Pokedex desenvolvida com JavaScript, HTML, CSS, React e MUI e deploy na Netlify.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KrhystFerrari/pokedex" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://poke-dex-reactjs.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/responsividade-dicas.png" class="card-img-top img-fluid w-100"
                                            alt="">
                                        <div class="card-body ">
                                            <h5 class="card-title">Dicas de Responsividade</h5>
                                            <p class="card-text">Uma página bem simples, porém mostrando de fato uma responsividade perfeita. Desenvolvido com JavaScript, HTML e CSS.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KrhystFerrari/Responsividade-Dicas" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://responsividade-dicas.vercel.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/MovieWiki.png" class="card-img-top img-fluid w-100"
                                            alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">MovieWiki</h5>
                                            <p class="card-text">Projeto com React e Vite, consumindo a API do TMDB (filmes), utilizando React Router.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KrhystFerrari/movie_wiki"target='_blank' 
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://movie-wiki-react.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/poly_digital-14.png" class="card-img-top img-fluid w-100"
                                            alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Titulo</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="#" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                    </div>
                    
                </div>

            </div>

        <section id="contato" class="pt-5 pb-5 section-bg">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São José do Rio Preto, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>krhystoffersonf@gmail.com</p>
                            </div>

                            <div>
                                <h4><i class="bi bi-whatsapp"> WhatsApp:</i></h4>
                                <p>(17) 99195-0659</p>
                            </div>

                            <iframe id="mapa-contato" class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.2802112720697!2d-49.42024088499136!3d-20.77994868613367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdac4561810f19%3A0x884d15fa125c66f2!2sR.%20Brg.%20Eduardo%20Gomes%20-%20Solo%20Sagrado%20I%2C%20S%C3%A3o%20Jos%C3%A9%20do%20Rio%20Preto%20-%20SP%2C%2015044-500!5e0!3m2!1spt-BR!2sbr!4v1665846363611!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST"> 
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright 2022 <strong>KrhystFerrari</strong>
            </div>
        </div>
    </footer>

 
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>
</html>